.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}
.lista-menu__titulo {
    color: var(--laranja);
  }.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }
  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
  }
  .lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
  color: var(--laranja);
  font-weight: 700;
}
.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }
  .container__botao {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    .opções_item {
      padding: 0 1em;
      text-transform: uppercase;
        .opções__botão:checked ~ .opções__rotulo > .opções__item {
          background: var(--azul-degrade);
          color: var(--branco);
          .opções__item {
            padding: 2em 1em;
            background: var(--azul-degrade);
        }.lista-menu__item:hover {
          .lista-menu__item:hover > .lista-menu__link {
            -webkit-text-fill-color: var(--branco);
            text-decoration: none;
      }

    .container__titulo,
    .container__titulo--negrito {
      font-family: var(--fonte-secundario);
      font-size: 30px;
    }
  
    .container__titulo {
      font-weight: 400;
      display: block; 
      display: none;
      color: var(--preto);
      display: flex; 
    }
  
    .container__titulo--negrito {
      font-weight: 700;
    }
  .opções 
  .cabeçalho__menu-hamburguer 
  .container__imagem-transparente 
    display none;
  
    .opções_botão:checked ~ .lista-menu
      display block
      width: auto;
    .container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer {
      background-image: url("../img/MenuAberto.svg");
      background: var(--azul-degrade);
      label for="opções-menu" class="opções__rotulo"></label>