.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}
.lista-menu__titulo {
    color: var(--laranja);
  }.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }
  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
  }
  .lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
  color: var(--laranja);
  font-weight: 700;
}
.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }
  .container__botao {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    .opções_item {
      padding: 0 1em;
      text-transform: uppercase;

    .container__titulo,
    .container__titulo--negrito {
      font-family: var(--fonte-secundario);
      font-size: 30px;
    }
  
    .container__titulo {
      font-weight: 400;
      display: block; 
      display: none;
      color: var(--preto);
      display: flex; 
    }
  
    .container__titulo--negrito {
      font-weight: 700;
    }
  }
  .opções 
  .cabeçalho__menu-hamburguer 
  .container__imagem-transparente 
    display: none;
  
    .opções_botão:checked ~ .lista-menu {
      display: block;
      width: auto;
    }

  
    .opções_botão:checked ~ .lista-menu {
      display: block;
      width: auto;
    }